.invoice{
 margin-left: 50px;
   margin-right: 50px;
   height: 1754px;
  width: 1240px;
   
  font-family: Times New Roman;
}

.logo{
  margin-top: 20px;

}

.m_invoic{
 
  width:100%;
  margin-top: 25px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
  font-size: 25px;
  padding: 10px;
 border-radius: 0px 0px 25px 25px;
}
.Patient_Details_table{
   margin-top: 50px;
   width:100%;
   font-size: 20px;
}
#doctor_table {
  
  border-collapse: collapse;
  width: 100%;
  margin-top: 100px;
}

#doctor_table td, #doctor_table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#doctor_table tr:nth-child(even){background-color: #f2f2f2;}

#doctor_table tr:hover {background-color: #ddd;}

#doctor_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
.note_table{
  border: 1px solid black;
   width:100%;
   
}
.note_table_text{
  border: 1px solid black; 
 width: 10%;
}
.thank{
  width:100%;
  margin-top: 25px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
  font-size: 25px;
  padding: 10px;
 border-radius: 0px 0px 25px 25px;

}
.fotter{
  width:100%;
  margin-top: 25px;
  font-size: 20px;
}